@use "../variables/colors";

@mixin textColors() {
  .g-color {
    @each $name, $color in colors.$global-colors {
      &--#{$name} {
        color: $color;
      }
    }
  }
}

@mixin bgColors() {
  .g-bg {
    @each $name, $color in colors.$global-colors {
      &--#{$name} {
        background-color: $color;
      }
    }
  }
}

.g-shadow-accent-soft {
  /* 1px down, 1px blur, 25% accent */
  box-shadow: 0 1px 1px rgba(colors.$accent, 0.25);
}

.g-page {
  padding: 0 12px;
  display: flex;
  flex-flow: column nowrap;
  gap: 16px;
}