@use "../variables/colors";

@mixin textColors() {
  .g-color {
    @each $name, $color in colors.$global-colors {
      &--#{$name} {
        color: $color;
      }
    }
  }
}

@mixin bgColors() {
  .g-bg {
    @each $name, $color in colors.$global-colors {
      &--#{$name} {
        background-color: $color;
      }
    }
  }
}

.g-page {
  padding: 0 12px;
  display: flex;
  flex-flow: column nowrap;
  gap: 16px;
}