$white: #FFFFFF;
$grey: #F0F0F0;
$beige: #FBF9F4;
$black: #261E1E;
$accent: #966F7B;

$turquoise: #b6d1c5;
$green: #d7dd93;
$yellow: #fece30;
$pink: #f6c0b1;

$air: #BD62CB;
$fire: #FA7C01;
$water: #13A4D3;
$earth: #7FB900;

$transparently-air: rgba($air, .1);
$transparently-fire: rgba($fire, .1);
$transparently-water: rgba($water, .1);
$transparently-earth: rgba($earth, .1);

$quadra: var(--color-quadra);
$role: var(--color-role);

$bg-quadra: var(--bg-quadra);
$bg-role: var(--bg-role);
