$white: #ffffff;
$grey: #f0f0f0;
$beige: #fbf9f4;
$black: #261e1e;
$dark-grey: rgba($black, 0.5);
$shadow: rgba($black, 0.1);
$accent: #966f7b;

$turquoise: #b6d1c5;
$green: #d7dd93;
$yellow: #fece30;
$pink: #f6c0b1;

$air: #bd62cb;
$fire: #fa7c01;
$water: #13a4d3;
$earth: #7fb900;

$air-dark: #733E7B;
$fire-dark: #8C4500;
$water-dark: #105971;
$earth-dark: #476800;

$transparently-air: rgba($air, 0.1);
$transparently-fire: rgba($fire, 0.1);
$transparently-water: rgba($water, 0.1);
$transparently-earth: rgba($earth, 0.1);

$transparently-turquoise: rgba($turquoise, 0.3);
$transparently-green: rgba($green, 0.3);
$transparently-yellow: rgba($yellow, 0.3);
$transparently-pink: rgba($pink, 0.3);

$quadral: $turquoise;
$favorable: $green;
$neutral: $yellow;
$unfavorable: $pink;

$quadra: var(--color-quadra);
$role: var(--color-role);

$sociotype-primary-color: var(--color-sociotype-primary);
$sociotype-secondary-color: var(--color-sociotype-secondary);

$quadra-dark: var(--color-quadra-dark);
$role-dark: var(--color-role-dark);

$intertype: var(--color-intertype-group);

$bg-quadra: var(--bg-quadra);
$bg-role: var(--bg-role);
$bg-intertype: var(--bg-intertype-group);

// Палетка из которой собираются @type {TextColorType}
$global-colors: (
  "white": $white,
  "grey": $grey,
  "beige": $beige,
  "black": $black,
  "dark-grey": $dark-grey,
  "shadow": $shadow,
  "accent": $accent,

  "turquoise": $turquoise,
  "green": $green,
  "yellow": $yellow,
  "pink": $pink,

  "air": $air,
  "fire": $fire,
  "water": $water,
  "earth": $earth,

  "air-dark": $air-dark,
  "fire-dark": $fire-dark,
  "water-dark": $water-dark,
  "earth-dark": $earth-dark,

  "quadra": $quadra,
  "role": $role,

  "quadra-dark": $quadra-dark,
  "role-dark": $role-dark,

  "intertype": $intertype,
  "intertype-bg": $bg-intertype,

  "inherit": inherit,
);

