$color-basic-white: #FFFFFF;
$color-basic-beige: #FBF9F4;
$color-basic-black: #261E1E;
$color-basic-accent: #966F7B;

$color-pastel-turquoise: #b6d1c5;
$color-pastel-green: #d7dd93;
$color-pastel-yellow: #fece30;
$color-pastel-pink: #f6c0b1;

$color-elements-air: #BD62CB;
$color-elements-fire: #FA7C01;
$color-elements-water: #13A4D3;
$color-elements-earth: #7FB900;

$bg-elements-air: rgba($color-elements-air, .1);
$bg-elements-fire: rgba($color-elements-fire, .1);
$bg-elements-water: rgba($color-elements-water, .1);
$bg-elements-earth: rgba($color-elements-earth, .1);
