@use "../shared/styles/fonts";
@use "../shared/styles/variables/colors";

:root {
  --color-elements-air: #{colors.$air};
  --color-elements-fire: #{colors.$fire};
  --color-elements-water: #{colors.$water};
  --color-elements-earth: #{colors.$earth};

  --bg-elements-air: #{colors.$transparently-air};
  --bg-elements-fire: #{colors.$transparently-fire};
  --bg-elements-water: #{colors.$transparently-water};
  --bg-elements-earth: #{colors.$transparently-earth};

  --bg-color: #{colors.$white};
  --text-color: #{colors.$black};

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: subpixel-antialiased;

  font-family: fonts.$font-family;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;

  color: var(--text-color);
  background-color: var(--bg-color);
}

* {
  &,
  &::before,
  &::after {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
    appearance: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;

    &::-webkit-scrollbar {
      width: 0;
      opacity: 0;
      scroll-behavior: smooth;
    }
  }
}



a, button {
  text-decoration: none;
  background: none;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
