:root {
  font-size: 62.5%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: subpixel-antialiased;
}

* {
  &,
  &::before,
  &::after {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;

    &::-webkit-scrollbar {
      width: 0;
      opacity: 0;
      scroll-behavior: smooth;
    }
  }
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}