@import "../shared/styles/fonts";

:root {
  --color-elements-air: #{$color-elements-air};
  --color-elements-fire: #{$color-elements-fire};
  --color-elements-water: #{$color-elements-water};
  --color-elements-earth: #{$color-elements-earth};

  --bg-elements-air: #{$bg-elements-air};
  --bg-elements-fire: #{$bg-elements-fire};
  --bg-elements-water: #{$bg-elements-water};
  --bg-elements-earth: #{$bg-elements-earth};

  --bg-color: #{$color-basic-white};
  --text-color: #{$color-basic-black};

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: "Halvar Mittel Rg", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: var(--text-color);
  background-color: var(--bg-color);
}

* {
  &,
  &::before,
  &::after {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
    appearance: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;

    &::-webkit-scrollbar {
      width: 0;
      opacity: 0;
      scroll-behavior: smooth;
    }
  }
}

html,
body {
  overflow-x: hidden;
}

a, button {
  text-decoration: none;
  background: none;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;

}