@use "../../shared/styles/fonts/index";
@use "../../shared/styles/variables/fonts";
@use "../../shared/styles/variables/colors";
@use "../../shared/styles/mixins/globals";

:root {
  --color-quadra-air: #{colors.$air};
  --color-quadra-fire: #{colors.$fire};
  --color-quadra-water: #{colors.$water};
  --color-quadra-earth: #{colors.$earth};

  --bg-quadra-air: #{colors.$transparently-air};
  --bg-quadra-fire: #{colors.$transparently-fire};
  --bg-quadra-water: #{colors.$transparently-water};
  --bg-quadra-earth: #{colors.$transparently-earth};

  --bg-color: #{colors.$white};
  --text-color: #{colors.$black};

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: subpixel-antialiased;

  font-family: fonts.$family-default;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;

  color: var(--text-color);
  background-color: var(--bg-color);
}

* {
  &,
  &::before,
  &::after {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
    appearance: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;

    &::-webkit-scrollbar {
      width: 0;
      opacity: 0;
      scroll-behavior: smooth;
    }
  }
}

a,
button {
  text-decoration: none;
  background: none;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

hr {
  width: 100%;
  height: 1px;
  border: 0;
  background-color: colors.$grey;
}

@include globals.textColors();
