@use "../../shared/styles/fonts/index";
@use "../../shared/styles/variables/fonts";
@use "../../shared/styles/variables/colors";
@use "../../shared/styles/variables/layouts";
@use "../../shared/styles/mixins/globals";

:root {
  --color-quadra-air: #{colors.$air};
  --color-quadra-fire: #{colors.$fire};
  --color-quadra-water: #{colors.$water};
  --color-quadra-earth: #{colors.$earth};

  --color-quadra-air-dark: #{colors.$air-dark};
  --color-quadra-fire-dark: #{colors.$fire-dark};
  --color-quadra-water-dark: #{colors.$water-dark};
  --color-quadra-earth-dark: #{colors.$earth-dark};

  --color-intertype-group-quadral: #{colors.$quadral};
  --color-intertype-group-favorable: #{colors.$favorable};
  --color-intertype-group-neutral: #{colors.$neutral};
  --color-intertype-group-unfavorable: #{colors.$unfavorable};

  --bg-quadra-air: #{colors.$transparently-air};
  --bg-quadra-fire: #{colors.$transparently-fire};
  --bg-quadra-water: #{colors.$transparently-water};
  --bg-quadra-earth: #{colors.$transparently-earth};

  --bg-intertype-group-quadral: #{colors.$transparently-turquoise};
  --bg-intertype-group-favorable: #{colors.$transparently-green};
  --bg-intertype-group-neutral: #{colors.$transparently-yellow};
  --bg-intertype-group-unfavorable: #{colors.$transparently-pink};

  --bg-color: #{colors.$white};
  --text-color: #{colors.$black};

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: subpixel-antialiased;

  font-family: fonts.$family-default;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;

  color: var(--text-color);
  background-color: var(--bg-color);
  scrollbar-width: none;
  scroll-behavior: smooth;
}

* {
  &,
  &::before,
  &::after {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
    appearance: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
  }
}

a,
button {
  text-decoration: none;
  background: none;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

hr {
  width: 100%;
  height: 1px;
  border: 0;
  background-color: colors.$grey;
}

#app {
  max-width: layouts.$maxWidth;
  min-width: layouts.$minWidth;
  margin: 0 auto;
  border-radius: 4px;
}

@include globals.textColors();
@include globals.bgColors();
