@font-face {
  font-family: "Halvar Breit Md";
  src:
    local("Halvar Breitschrift Medium"),
    local("HalvarBreit-Md"),
    url("public/fonts/halvar-breit/HalvarBreit-Md.woff2")
      format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Halvar Breit Md";
  src:
    local("Halvar Breitschrift Medium Slanted"),
    local("HalvarBreit-MdSlanted"),
    url("public/fonts/halvar-breit/HalvarBreit-MdSlanted.woff2")
      format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: block;
}
