@font-face {
  font-family: "Halvar Mittel Rg";
  src:
    local("Halvar Mittelschrift Regular"),
    local("HalvarMittel-Rg"),
    url("public/fonts/halvar-mittel/HalvarMittel-Rg.woff2")
      format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Halvar Mittel Rg";
  src:
    local("Halvar Mittelschrift Regular Slanted"),
    local("HalvarMittel-RgSlanted"),
    url("public/fonts/halvar-mittel/HalvarMittel-RgSlanted.woff2")
      format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: "Halvar Mittel Rg SuSlanted";
  src:
    local("Halvar Mittelschrift Regular SuperSlanted"),
    local("HalvarMittel-RgSuSlanted"),
    url("public/fonts/halvar-mittel/HalvarMittel-RgSuSlanted.woff2")
      format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: block;
}
